queue.json
experiment-queue.json
configuration_doctorship.py
/output/*
!/output/.gitkeep
!/output/standings/
/output/standings/*
!/output/standings/.gitkeep
!/output/plots/
/output/plots/*
!/output/plots/.gitkeep
!/output/experiments/
/output/experiments/*
!/output/experiments/.gitkeep
/plots/
